@charset "UTF-8";
/* ========================================
  c-announce
======================================== */
.c-announce {
  margin-bottom: 30px;
  padding: 10px 20px;
  background: rgba($colorFont-attention, 0.1);
}
