@charset "UTF-8";
/* ========================================
  c-label
======================================== */
// ラベル
// ---------------------------------
.c-label {
  display: inline-block;
  min-width: 100px;
  padding: 6px;
  color: $colorFont-accent;
  background: $colorAccent-dark;
  font-weight: bold;
  text-align: center;
}

.c-label--accent {
  background: #E37181;
}

.c-label--disable {
  background: #C3C3C3;
}

.c-label-show {
  position: relative;
  margin-bottom: 30px;
  padding: 12px 27px 12px 54px;
  font-size: 1.6rem;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 21px;
    display: block;
    width: 22px;
    height: 16px;
    background: url(../img/ico_show.png) no-repeat center center;
    transform: translateY(-50%);
  }
}

.c-label-hidden {
  position: relative;
  margin-bottom: 30px;
  padding: 12px 27px 12px 54px;
  background: #C3C3C3;
  font-size: 1.6rem;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 21px;
    display: block;
    width: 22px;
    height: 19px;
    background: url(../img/ico_hidden.png) no-repeat center center;
    transform: translateY(-50%);
  }
}
