@charset "UTF-8";
/* ========================================
  c-link
======================================== */
.c-link-text {
  color: $colorAccent-dark;

  &:hover {
    text-decoration: underline;
  }
}


// リンク 一覧に戻る
// ---------------------------------
.c-link-back {
  position: absolute;
  top: 20px;
  right: 0;
}

.c-link-back__text {
  display: block;
  padding-left: 26px;
  font-size: 1.4rem;
  font-weight: bold;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/ico_back.png) no-repeat center center;
    transform: translateY(-50%);
  }

  &:hover {
    color: #717171;

    &:before {
      opacity: 0.7;
    }
  }
}
