@charset "UTF-8";
/* ========================================
  c-tab
======================================== */
.c-tab-menu {
  position: relative;
  display: flex;
  margin-bottom: 60px;
  border-bottom: 3px solid #333;
}

.c-tab-item {
  width: 120px;
  margin-right: 20px;
  text-align: center;
  font-size: 1.6rem;
}

.c-tab-item__inner {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px 0;

  &:before {
    content: none;
    display: block;
    height: 3px;
    width: 120px;
    position: absolute;
    bottom: -3px;
    background: linear-gradient(to right, $colorAccent-dark, $colorAccent-light);
  }

  &:hover,
  &.c-tab-item__inner--selected {
    color: $colorAccent-light;

    &:before {
      content: "";
    }
  }
}
