@charset "UTF-8";
/* ========================================
  c-table
======================================== */
// 表組み
// ---------------------------------
.c-table-normal {
  width: 100%;
  border: 1px solid $colorBorder-dark;
  background: #fff;
}

.c-table-normal__head {
  height: 40px;
  padding: 11px 10px;
  border-bottom: 1px solid $colorBorder-middle;
  border-right: 1px solid $colorBorder-middle;
  text-align: center;
  font-size: 1.2rem;
}

.c-table-normal__data {
  height: 46px;
  padding: 0 10px;
  border-right: 1px solid $colorBorder-middle;
  text-align: center;
  font-weight: normal;
}

.c-table-normal__row:nth-child(even) {
  background: #F5F5F5;
}

.c-table-normal__row--running {
  color: $colorBorder-dark;
}

.c-table-normal__data-cell {
  display: block;
  width: calc(100% + 20px);
  height: 100%;
  margin: 0 -10px;
  padding: 16px 10px;
}

.c-table-normal__head--line,
.c-table-normal tbody th {
  position: relative;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 1px;
    width: 1px;
    height: 100%;
    min-height: 46px;
    background: $colorBorder-middle;
  }
}

// 表組み 下線のみ
// ---------------------------------
.c-table-simple {
  line-height: 1.4;
  margin-top: -20px;
}

.c-table-simple__row {
  display: table;
  width: 100%;
  border-bottom: 1px solid $colorBorder-light;
}

.c-table-simple__header {
  display: table-cell;
  padding: 20px 0;
  width: 217px;
  font-size: 1.4rem;
  font-weight: bold;
  vertical-align: top;
}

.c-table-simple__data {
  display: table-cell;
  padding: 20px 0;
  width: calc(100% - 217px);
  vertical-align: top;
}
