@charset "UTF-8";
/* ========================================
  p-maintenance
======================================== */
// メンテナンス情報
// ---------------------------------
.p-maintenance-info {
  padding-top: 30px;
}

.p-maintenance-info__message {
  line-height: 1.8;
}

// 編集画面
// ---------------------------------
.p-maintenance-edit {
  margin-top: -30px;
}

.p-maintenance-edit .c-table-simple__header {
  padding: 45px 0;

  .c-text-error {
    margin-top: 20px;
  }
}

.p-maintenance-edit .c-table-simple__data {
  padding: 30px 0;
}

.p-maintenance-edit__data-row {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.p-maintenance-edit__date {
  display: inline-block;
  width: (200 / 683)*100%;
  margin-right: 18px;
}

.p-maintenance-edit__date .c-form-date {
  display: inline-block;
  width: 100%;
}

.p-maintenance-edit__time {
  display: inline-block;
  margin-right: 18px;
  font-size: 1.6rem;
}

.p-maintenance-edit__time .c-form-select {
  display: inline-block;
  width: 100px;
}
