@charset "UTF-8";
/* ========================================
  p-plan
======================================== */
// 利用開始ボタン
// ---------------------------------
.p-plan-btn-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background: $colorBase;

  .c-btn__content {
    width: 280px;
  }
}

// モーダル
// ---------------------------------
.p-plan-modal__content {
  min-width: 560px;
  text-align: center;
}

.p-plan-modal__title {
  margin-top: 4px;
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}

.p-plan-modal__text {
  margin-bottom: 30px;
  font-size: 1.6rem;
}

// 編集画面
// ---------------------------------
.p-plan-edit-form {
  margin-top: -30px;
}

.p-plan-edit-form .c-table-simple__header {
  vertical-align: middle;
}

.p-plan-edit-form .c-table-simple__data {
  padding: 30px 0;
}
